<div x-data="{ play_data: {% if include.play_data != Nil %}true{% else %}false{% endif %} }" class="z-30 w-11/12 md:4/6 pb-2 place-self-center">
  <p class="capitalize" >
    {{ include.data_title}}
  </p>
  <div x-show="play_data" class="mt-1 h-0.5 w-1/2 bg-slate-200 justify-self-center"></div>
  <div x-show="play_data" class="mt-1 h-0.5 w-full bg-slate-200"></div>
  <p x-show="play_data" class="text-center">
    {% assign i = false %}
    {% for item in include.play_data %}
      {{ item }}
      {% if i == true %}
        <br>
        {% assign i = false %}
        {% continue %}
      {% endif %}
      {% assign i = true %}
    {% endfor %}
  </p>
</div>
