{% capture cardName %}{{ page.permalink | remove: '/' }}{% endcapture %}
{% capture damageTrack %}{{ cardName | append: '_damage' }}{% endcapture %}
{% capture clearTrack %}{{ cardName | append: '_clear' }}{% endcapture %}
{% capture trackRef %}{{ cardName | append: '_track' }}{% endcapture %}

<div class="grid grid-cols-{{ page.injury_tolerance | plus: 2 }} z-30 w-11/12 md:w-2/3 xl:w-1/2 pb-4 place-self-center" x-cloak x-data="{ {{ damageTrack }}: $persist({1: false, 2: false, 3: false, 4: false, 5: false, wasted: false}), {{ clearTrack }}: $persist([]) }">
  <p class="text-left">Card Status:</p>
  {% for i in (1..5) %}
    {% capture damageSlot %}{{ page.permalink | remove: '/' }}_damage_slot_{{ i }}{% endcapture %}
    <div class="mx-2 place-self-center align-items-start" x-show="{{ page.injury_tolerance }} >= {{ i }}">
      <input 
        type="checkbox" 
        x-ref="{{ trackRef | append: i }}"
        :checked="{{ damageTrack }}[{{ i }}]"
        :disabled="{{ damageTrack }}[{{ i | minus: 1 }}] == false || {{ damageTrack }}[{{ i | plus: 1 }}] == true || {{ damageTrack }}['wasted'] == true" 
        class="{{ site.data.templates.checkbox }}" 
        name="damageTrack" 
        id="{{ damageSlot }}"  
        @click="{{ damageTrack }}[{{ i }}] = !{{ damageTrack }}[{{ i }}]" 
        x-init="clearDamage == {{ clearTrack }} || ({{ damageTrack }}[{{ i }}] = false), $watch('clearDamage', value => {{ damageTrack }}[{{ i }}] = false)">
        <label for="{{ damageSlot }}" x-anchor.bottom.start="$refs.{{ trackRef | append: i }}"> {{ i }} </label>
    </div>
  {% endfor %}
  {% capture wasted %}{{ page.permalink | remove: '/' }}_wasted{% endcapture %}
  <div class="mx-2 place-self-center">
    <input 
    type="checkbox" 
    x-ref="{{ trackRef | append: '_wasted' }}"
    :checked="{{ damageTrack }}['wasted']" 
    class="{{ site.data.templates.checkbox }}" 
    :disabled="{{ damageTrack }}[{{ page.injury_tolerance }}] == false" 
    name="damageTrack" id="{{ wasted }}"  
    @click="{{ damageTrack }}['wasted'] = !{{ damageTrack }}['wasted']" 
    x-init="clearDamage == {{ clearTrack }} || ({{ damageTrack }}['wasted'] = false), $watch('clearDamage', value => {{ damageTrack }}['wasted'] = false)">
    <label for="{{ wasted }}" x-anchor.bottom.start="$refs.{{ trackRef | append: '_wasted' }}"> wasted </label>
  </div>
</div>