  <div x-data="{ showHamburger: false, showTools: true }" class="z-30 flex place-content-center px-0.5 lg:px-5 py-1 gap-x-0.5 lg:gap-x-3 flex-wrap sticky top-0" :class="top || 'bg-emerald-50/95'">
    
    <div class="flex basis-full md:hidden break-after-right md:break-after-avoid transition hover:scale-95 active:scale-95" x-transition x-show="top">
      <a href="./" class="flex flex-1 place-content-center md:hidden h-32 w-64" title="Binder Home" x-transition x-show="top">
        <img class="h-32 w-64" src="/assets/utility_images/kipukas_complete_card_collection.svg" alt="Kipukas Complete Card Collection"></img>
      </a>
    </div>
    <div class="hidden md:block lg:hidden break-after-avoid transition hover:scale-95 active:transform-none" x-transition x-show="top">
      <a href="./" class="hidden md:block h-32 w-64" title="Binder Home">
        <img class="h-32 w-64" src="/assets/utility_images/kipukas_complete_card_collection.svg" alt="Kipukas Complete Card Collection"></img>
      </a>
    </div>
    <div class="hidden lg:block break-after-avoid transition hover:scale-95 active:transform-none">
      <a href="./" class="hidden md:block h-32 w-64" title="Binder Home">
        <img class="h-32 w-64" src="/assets/utility_images/kipukas_complete_card_collection.svg" alt="Kipukas Complete Card Collection"></img>
      </a>
    </div>
  
  {% unless page.search %}
    <div class="flex-1"></div>
  {% endunless %}

  <div class="z-30 flex-1 flex place-content-center px-0.5 lg:px-5 py-1 gap-x-0.5 lg:gap-x-3 flex-wrap" x-show="showTools" x-collapse.horizontal>
    {% if page.search %}
      {% include {{ page.search }} %}

        {% include filter.html %}
        {% include install_pwa.html  %}

        {% capture anchor-menu %}
          {{ site.data.templates.anchor-menu }}
        {% endcapture %}

        {% include type_matchup.html
            menuClass=anchor-menu
            buttonClass="h-16 w-16 fill-kip-goldenrod hover:fill-kip-red active:fill-kip-drk-sienna"
        %}
        
        {% include qr_scanner.html svgClass="h-14 w-14 fill-kip-goldenrod hover:fill-kip-red active:fill-kip-drk-sienna"%}
      {% endif %}
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" alt="tools toggle"
      @click="showTools = !showTools" :class="{ '-rotate-90': showTools }"
      class="fill-none stroke-2 stroke-kip-drk-goldenrod w-6 h-6 transition-transform rotate-90 place-self-center">
      <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
  </svg>
  {% include hamburger_menu.html %}
  </div>
