<div class="z-50 fixed w-10/12 md:w-auto top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 mt-1">
  <video id="video" class="aspect-video" x-show="showScanner" x-transition style="display:none;"></video>
  <canvas id="canvas" class="aspect-video" style="display:none;"></canvas>

  <script>
    // Access the video and canvas elements
    const video = document.getElementById('video');
    const canvas = document.getElementById('canvas');
    const context = canvas.getContext('2d');

    // Function to start scanning for QR codes
    function startScanning() {
      // Get access to the camera
      navigator.mediaDevices.getUserMedia({ video: { facingMode: 'user' } })
        .then(function(stream) {
          video.srcObject = stream;
          video.setAttribute('playsinline', true); // required to tell iOS safari we don't want fullscreen
          video.play();
          requestAnimationFrame(scan);
        })
        .catch(function(err) {
          console.error('Camera access error:', err);
        });
    }

    // Function to scan for QR codes
    function scan() {
      if (video.readyState === video.HAVE_ENOUGH_DATA) {
        context.drawImage(video, 0, 0, 300, 200);
        const imageData = context.getImageData(0, 0, 300, 200);
        const code = jsQR(imageData.data, imageData.width, imageData.height);
        if (code) {
          console.log('QR code detected:', code.data);
          if (code) {
            // Assuming your QR codes contain URLs starting with "http://" or "https://"
            const url = code.data;

            // Check if the URL starts with "http://" or "https://"
            if url.startsWith('https://')) {
              // Navigate to the URL on your local server (assuming your local server's address is "http://127.0.0.1:4000/")
              window.location.href = url.replace('https://', 'https://kpks.us/'); //'http://127.0.0.1:4000/');
            } else {
              console.log('Invalid URL detected in QR code');
            }
          }
        }
      }
      requestAnimationFrame(scan);
    }

    // Start scanning when the page loads
    startScanning();
  </script>
</div>
