<!-- Modal for getting camera permission -->
{% capture message %}
  By allowing camera access to our QR code scanner, you agree to our
  <a href="/privacy_policy" class="text-kip-red hover:text-emerald-600 underline" @click="showModal = false">privacy policy</a>.
  Breath easy, we don't collect any data.
{% endcapture %}

{% include modal.html 
  showCriteria='showQRModal' 
  modalTitle='Privacy Notice' 
  modalMessage=message 
  acceptButtonText='Accept & Continue'
  acceptClick='acceptPrivacy = true; noCamera = false; showQRModal = false; showScanner = false'
  denyButtonText="Don't Need It"
  denyClick='noCamera = true; showQRModal = false; showScanner = false;'
%}
<!-- Video for scanning QRs -->
<div x-cloak class="z-30 aspect-square fixed w-80 md:w-1/2 lg:w-1/3 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-lg transition delay-150">
  <canvas id="canvas" class="-z-10 object-cover size-full scale-x-[-1] hidden"
    width="640" height="480">
  </canvas>
  <button class="z-40 absolute top-3 left-3 size-fit transition delay-150"
          @click="{{ site.data.templates.qr-click }}"
          x-show="showScanner && !noCamera && videoReady">
          <svg xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="w-9 h-9 scale-95 fill-transparent stroke-slate-100 hover:stroke-kip-red active:stroke-kip-drk-sienna stroke-2 m-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
        </svg>
  </button>
  <video id="video"
    class="z-30 object-cover size-full scale-x-[-1] rounded-lg transition delay-150"
    x-show="showScanner && !noCamera && videoReady">
  </video>
</div>
<!-- Button to toggle scanning code and video -->
<button aria-label="Toggle QR Scanner" class="{{ include.buttonClass }}">
  <svg xmlns="http://www.w3.org/2000/svg"
    @click="{{ site.data.templates.qr-click }}"
    viewBox="0 0 128 128" alt="QR Scanner Toggle"
    {% unless page.landscape %}
      :class="'lg:fill-kip-goldenrod'"
    {% endunless %}
    class="{{ include.base_fill }}{{ include.svgClass }}">
    <path
      d="M306.692 182.753a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-16a2 2 0 0 0-2-2zm4 4h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-8a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2zM276.692 152.753a2.003 2.003 0 0 0-2 2v24a2.003 2.003 0 0 0 2 2h24a2.003 2.003 0 0 0 2-2v-24a2.003 2.003 0 0 0-2-2zm4 4h16a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2h-16a2 2 0 0 1-2-2v-16a2 2 0 0 1 2-2zm4 4a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-8a2 2 0 0 0-2-2zM306.692 152.753a2.003 2.003 0 0 0-2 2v24a2.003 2.003 0 0 0 2 2h24a2.003 2.003 0 0 0 2-2v-24a2.003 2.003 0 0 0-2-2zm4 4h16a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2h-16a2 2 0 0 1-2-2v-16a2 2 0 0 1 2-2zm4 4a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-8a2 2 0 0 0-2-2zM276.692 182.753a2.003 2.003 0 0 0-2 2v24a2.003 2.003 0 0 0 2 2h24a2.003 2.003 0 0 0 2-2v-24a2.003 2.003 0 0 0-2-2zm4 4h16a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2h-16a2 2 0 0 1-2-2v-16a2 2 0 0 1 2-2zm4 4a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-8a2 2 0 0 0-2-2z"
      transform="matrix(2.2069 0 0 2.2069 -606.216 -337.109)"/>
  </svg>
</button>
<!-- Script for scanning QRs in canvas -->
<script defer src="/assets/js-wasm/qr_scanner.js"></script>

