---
layout: default
permalink: /privacy_policy
title: "Privacy Policy"
description: "In short, we don't collect data and have no use to. Collect data that is..."
bg-terra: "bg-hero-pattern "
---
{% include toolbar.html 
  logo=true
%}
<template x-if="true"> <!-- This fixes the cls issue completely -->
<div class="flex place-content-center w-screen h-fit">
  <div class="z-10 grid grid-cols-1 bg-amber-50 outline outline-kip-drk-goldenrod text-kip-drk-goldenrod text-justify leading-loose pb-4 px-10 w-5/6 h-fit min-h-screen scroll-smooth">
    {% include toolbar.html 
      hamburger=true
      goHome=true
      lastPage=true
      install_pwa=true
      hideTools=true
      base_fill='fill-kip-goldenrod'
      base_stroke='stroke-kip-goldenrod'
      background_color='bg-slate-100/80'
    %}
    <h1 class="text-3xl font-bold text-left my-4">Zero-Data Collection Privacy Policy</h1>
    <h3 class="text-xl"><span class="font-bold">Effective Date:</span> April, 2024</h3>
    <p>At our website, we are dedicated to preserving your privacy. We understand the importance of trust and transparency when it comes to handling your personal information. From here on Feature refers to our QR Scanner. <strong>You must explicitly accept the privacy policy to use the feature.</strong></p>
    {% assign para_class =  'text-2xl font-bold mt-6 mb-4 text-left z-20' %}
    <h2 class="{{ para_class }}">No Information Collection</h2>
    <p>When using our Feature, we do not gather any data from your device's camera or any other aspect of your device. The Feature operates without accessing or storing any personal information, allowing you to scan Kipukas QR codes safely and anonymously.</p>

    <h2 class="{{ para_class }}">Purpose of Information Use</h2>
    <p>Our Feature is solely meant to provide a quick and convenient QR code scanning experience within the confines of our website. We do not utilize the scanned QR code information for any secondary purposes, analytics, or marketing.</p>

    <h2 class="{{ para_class }}">Security and Privacy</h2>
    <p>Although we don't collect any data, we take the security of our Feature seriously. We implement industry-standard technical measures to protect against unauthorized access or disclosure, even though there's nothing to disclose.</p>

    <h2 class="{{ para_class }}">Third-Party Services</h2>
    <p>In order to deliver the Feature, we utilize third-party libraries like x-zing cpp. Please note that these third parties may have their own privacy policies, which may apply when their services are in use. We encourage you to review their privacy statements for more information. We build on an open stack.</p>

    <h2 class="{{ para_class }}">Children's Privacy</h2>
    <p>Our website is not intended for children under 13 years of age. We do not knowingly collect or solicit personal information from children. If we become aware of any accidental collection, we will promptly delete the information.</p>

    <h2 class="{{ para_class }}">Changes to Privacy Policy</h2>
    <p>We may update this Privacy Policy occasionally. Any significant changes will be clearly posted on this page, along with an updated "effective date" at the top. Regularly reviewing our Privacy Policy helps you stay informed about our privacy practices.</p>

    <h2 class="{{ para_class }}">Contact</h2>
    <p>Should you have any questions or concerns about our Privacy Policy, please reach out to us at <a href="mailto:kipukas.games@gmail.com" class="text-kip-drk-sienna underline">kipukas.games@gmail.com</a>. Your trust is our top priority, and we're here to address any queries you may have.</p>
    <a href="/"
       onclick="localStorage.setItem('qr-privacy-accepted', 'true')"
       class="{{ site.data.templates.red-btn }} text-center mt-2"
       aria-label="accept privacy policy and go home">Accept Privacy Policy</a>
  </div>
</div>
</template>
