---
layout: card
permalink: /incubation_egg/
redirect_from: /y5ZD
img_name: incubation_egg.webp
img_alt: "andy warhol inspired eggcelent art"
tags: egg warhol andy special cubic brick
variation: "Non-Playable"
title: "Incubation Egg"
description: "Eggs are delicious or precious, but definitely vulnerable. They represent
the next generation for many species and always need diligent protection. This is your
task. The Incubation Egg is a super special Kipukas card. Rather than being playable,
it represents your stake in the future. This card is your proof of eligibility for the
rarest cards of our next generation. This allows access to the rarest card categories, normally reserved
for competition winners and special event giveaways, if you are willing to wait
out a long incubation period. After the incubation time, ship this card back to us
and will ship you the 'hatchling'. Check Building Decks: Incubation cards for more
information."
scarcity: "Untamed"
landscape: true
---
{% include card_data_format.html data_title='card variation' play_data=page.variation %}
{% include card_data_format.html data_title='Scarcity' play_data=page.scarcity %}
{% include card_data_format.html data_title='History' play_data=page.description %}
