---
layout: card
---

{% capture mvmt %}Movement Range:  {{ page.movement }}{% endcapture %}
{% include card_data_format.html data_title=mvmt %}

{% include damage_tracker.html %}

{% include card_data_format.html data_title='archetypal gene' play_data=page.genetic_disposition %}
{% include card_data_format.html data_title='game effects' play_data=page.play_style %}

{% if page.die == Nil %}
  {% capture atk %}Atk: {{ page.atk_die }}{% endcapture %}
  {% capture def %}Def: {{ page.def_die }}{% endcapture %}
  {% capture die_data %}{{ atk }} {{ def }}{% endcapture %}
{% else %}
  {% capture die_data %}
    Always Rolls: {{ page.die }}
  {% endcapture %}
{% endif %}
{% include card_data_format.html data_title='die rolls' play_data=die_data %}

{% include card_data_format.html data_title='keal means' play_data=page.keal_means %}
{% include card_data_format.html data_title='motivation' play_data=page.motivation %}
{% include card_data_format.html data_title='brawl power' play_data=page.brawl_sequence %}
{% include card_data_format.html data_title='Habitat' play_data=page.habitat %}
{% include card_data_format.html data_title='card variation' play_data=page.variation %}
{% include card_data_format.html data_title='Scarcity' play_data=page.scarcity %}
{% include card_data_format.html data_title='History' play_data=page.description %}
