---
layout: card
---
{% include card_data_format.html data_title='Success Criteria' play_data=page.criteria %}
{% include card_data_format.html data_title='Successful Sabotage Result' play_data=page.success %}
{% include card_data_format.html data_title='Failure Consequence' play_data=page.failure %}
{% include card_data_format.html data_title='card variation' play_data=page.variation %}
{% include card_data_format.html data_title='Scarcity' play_data=page.scarcity %}
{% include card_data_format.html data_title='History' play_data=page.description %}
