---
layout: default
---
<div class="flex">
  <div class="hidden lg:block lg:w-1/2 lg:relative">
    <img class="object-cover object-center absolute inset-0 w-full h-screen xl:max-h-full"
         src="{{ "/assets/images/" | append: page.img_name | relative_url }}"
         alt="{{ page.img_alt }}"></img>
  </div>

  <div class="flex-col py-10 md:py-16 lg:w-1/2 lg:pl-10 lg:bg-gray-200">
    <h1 class="text-teal-400 font-semibold text-center leading-none mb-4 text-4xl">
      {{ page.title }}
    </h1>
    <img class="p-5 object-cover bg-gray-300 w-4/5 mx-auto lg:hidden"
         src="{{ "/assets/images/" | append: page.img_name | relative_url }}"
         alt="{{ page.img_alt }}"></img>
    <ul class="p-5 text-xl w-4/5 lg:w-auto mx-auto leading-10 text-left md:text-2xl">
        <li class="leading-snug py-2"><span class="text-blue-600">Scarcity: </span>
          <br>
          <span class="text-gray-700">
            {{ page.scarcity }}
          </span>
        </li>
        <li class="leading-snug py-2"><span class="text-blue-600">Form: </span>
          <br>
          <span class="text-gray-700">
            {% for category in page.categories %}
              {{ category | capitalize | prepend: "-"}}
              <br>
            {% endfor %}
          </span>
        </li>
        <li class="leading-snug py-2">
          <span class="text-blue-600">History: </span>
          <p class="text-gray-700">
            {{ page.description }}
          </p>
        </li>
        <li class="leading-snug py-2">
          <span class="text-blue-600">Play Style: </span>
          <p class="text-gray-700">{{ page.play_style }}</p>
        </li>
    </ul>
    <div class="flex">
      <a class="{{ site.btn-center }}" href="/">Back to Binder</a>
    </div>
    <p class="font-hairline text-gray-500 text-center text-sm mt-6">{{ page.promotion }}</p>
    <p class="font-hairline text-gray-400 text-center text-xs">{{ page.promotion_conditions }}</p>
  </div>
</div>
